.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #499eb6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerBar {
  background-color: rgb(215, 215, 78);
}

a:link {
  text-decoration: none;
}

.headerTitle {
  text-align: center;
}

.headerHome,
.headerReviews {
  display: inline-block;
  margin: 10px 30px 0 30px;
}

ol li {
  list-style: none;
}

.reviewList {
  border: 2px solid black;
  background-color: rgb(202, 156, 95);
  margin: auto;
  margin-top: 5px;
}

.body {
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  img {
    max-width: 80%;
    height: auto;
  }
}

.reviewTitle {
  text-decoration: underline;
}

.singleReview {
  border: 2px solid black;
  background-color: rgb(202, 156, 95);
  margin: auto;
  margin-top: 5px;
}

.singleReviewComments {
  width: 100%;
}

.singleComment {
  border: 2px solid black;
  background-color: rgb(202, 156, 95);
  margin-top: 5px;
}
